/*
 * Styl pro slabozrake FI MUNI
 * Autor: Jan Rezac - Filosof
 *
 */

a, a:link {
  text-decoration: underline;
  cursor: pointer;
  color: #0d3d93;
}

a:visited {
  color: #1b396f;
}

a:hover, a:focus, a:active {
  color: #000;
  background: #fef3e2;
}

/*========== [layout] ========================================================*/
body {
  text-align: left;
  font-family: Arial, sans-serif;
  background: #fffbf6;
  color: #444;
  line-height: 1.6;
  font-size: 2em;
  padding: 2em 40px 40px;
}

body div#main, body div#main2, body div#text {
  width: 100% !important;
}

table {
  line-height: 1.6;
}

.subHeader .slidesList .column2 {
  display: none;
}
.subHeader {
  margin-bottom: 40px;
}
.HPBottomSection .slidesList {
  min-height: 340px;
  margin-bottom: 20px;
}

  
.themeImage img {
  display: none;
}

a.default, a.default:link, a.default:visited {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #000;
  background: #fffbe1;
  border-bottom: 1px solid #dedede;
  font-weight: bold;
  padding: 5px 0 20px;
}

#fimunilogo {
  display: none;
}

body div#footer {
  position: static !important;
}

a.default:hover {
  color: #fef3e2;
  background: #000;
}

div#altNav,
a.glasses,
div#logo a,
div.img2 {
  display: none;
}

ul li {
  padding-left: 20px;
}

div.cont a {
  font-weight: bold;
}

div#nav {
  background: #FFFBE1;
  padding: 0.2em 20px 1.5em;
  border-top: 1px solid #DEDEDE;
  border-bottom: 1px solid #DEDEDE;
  margin-bottom: 1em;
}

td, th {
  padding-right: 1em;
  vertical-align: top;
}

table {
  width: 100%;
  margin-bottom: 1em;
}

div#sl {
  padding: 0.6em 0 1.5em;
  width: 100%;
  overflow: hidden;
  background: #f4d814;
  border-top: 1px solid #e5ce32;
  border-bottom: 1px solid #e5ce32;
}

input, table {
  font-size: 1em;
}

div#main input.txt {
  padding: 0.2em 0.2em 0.3em;
  width: 60%;
  _height: 1.7em !important;
}

div#main input.ss {
  padding: 0.2em 0.6em 0.3em;
  cursor: pointer;
  _display: block;
  _width: 5em;
}

div#lang a, div#lang a:link, div#lang a:visited {
  display: block;
  padding: 0 20px;  
}
.muniLogo {
  display: none;
}
div#lang {
  float: none;
}

div#search {
  float: none;
  padding: 0 20px;
}
div#isLinks a {
  padding: 0 20px;  
  display: block;
}

div#footer {
  font-size: 0.7em;
}

div.appl {
  font-weight: bold;
}

div.photos div {
  float: left;
  margin-right: 11px;
  width: 120px;
  margin-bottom: 11px;
}

div.photos a {
  display: block;
  padding: 1px;
  border: 1px solid #ffd89d;
  position: relative;
}

div.photos a i {
  width: 6px;
  height: 6px;
  display: block;
  position: absolute;
  right: 8px;
  bottom: 8px;
  background: url(../images/plus.gif) 0 0 no-repeat;
}

div.photos a:hover {
  border: 1px solid #ff9900;
}

div.photos a:hover i {
  background-position: -7px 0;
}

div.photos div.l, div.wrap1 div.l {
  margin-right: 0;
}

div.clr {
  width: 100%;
  overflow: hidden;
}

img {
  display: block;
  border: 0 none;
}

i.tube {
  margin: 0 4px;
}

div.appl a, div.appl a:link, div.appl a:visited,
div.appl2 a, div.appl2 a:link, div.appl2 a:visited {
  background: #0d3d93;
  border: 3px double #fff;
  color: #fff;
  font-weight: bold;
  display: block;
  text-decoration: none;
  text-align: center;
  width: 12em;
  padding: 3px 14px 4px;
}

div.appl a:hover, div.appl2 a:hover {
  background: #000;
}

.error {
  background: #d43600;
  color: #fff;
  padding: 3px 14px 4px;
  border: 3px double #fff;
}

.error strong {
  margin-right: 6px;
}

div.results h4 {
  margin-bottom: 0;
  padding-bottom: 0;
}

div.results p {
  padding: 0;
  margin: 0;
}

div.pager {
  padding: 1em 0;
}

div.pager a {
  margin: 0 4px;
}

/* mapa stranek */
ul#sitemap li a, ul#sitemap li a:link, ul#sitemap li a:visited {
  font-weight: bold;
  color: #000;
  font-size: 1.3em;
}

ul#sitemap li a:hover {
  color: #0d3d93;
}

ul#sitemap li {
  background: transparent;
  margin: 0;
  padding: 2px 0; 
}

ul#sitemap li li {
  padding: 0 0 0 17px;
  margin-left: 10px;
}

ul#sitemap li li a, ul#sitemap li li a:link, ul#sitemap li li a:visited {
  font-size: 1em;
  font-weight: bold;
  color: #0d3d93;
}

ul#sitemap li li a:hover {
  color: #000;
}

ul#sitemap li li li a, ul#sitemap li li li a:link {
  font-size: 1em;
  font-weight: normal;
  color: #444;
}

ul#sitemap li li li a:visited {
  color: #666;
  font-weight: normal;
}

ul#sitemap li li li a:hover {
  color: #0d3d93;
}

ul#sitemap ul {
  margin: 0;
}

div.rimg {
  float: right;
  margin: 5px 0 11px 11px;
}
