/*
 * IE6 Styl FI MUNI
 * Autor: Jan Rezac - Filosof
 *
 */

div#header, 
ul#mm a, 
div.col2 ul a, 
div.col2,
div.mmp {
  zoom: 1;
}

div#main {
  width: expression(document.body.clientWidth > 901? "901px" : "auto" );
  zoom: 1;
}

div#innerText div.img {
  padding-top: 10px;
  background-position: 0 10px;
}

div#main2 {
  width: expression(document.body.clientWidth < 770? "770px" : "auto" );
  zoom: 1;
}

input.ss {
  width: 60px;
}

input.txt {
  height: 23px;
}

div.col2 ul li.double a.rss, div.col2 ul li.double a.rss:link, div.col2 ul li.double a.rss:visited {
  background: url(../images/rss.gif) 0 5px no-repeat;
}

div.col2 ul li.double a.rss:hover {
  background-position: -1000px 5px;
}

ul.button {
  width: 100%;
}

ul.button a:hover {
  background: #fffbf6;
}

div#text {
  width: 73%;
}

div#innerText {
  padding: 10px 0 10px 11px;
  zoom: 1;
}

div#sl {
  right: 4px;
}

div.photos div {
  margin-right: 9px;
}

div.photos {
  padding-bottom: 1.4em;
}

div.wrap2 div {
  float: left;
  width: 30%;
  margin-right: 3%;
}

input.ss {
  position: relative;
  top: 1px;
}

div.photos a i {
  right: 10px;
  bottom: 0;
}

a.highslide, a.highslide:link, a.highslide:visited {
	cursor: url(../highslide/graphics/zoomin.cur);
}

div.appl2 a, div.appl2 a:link, div.appl2 a:visited {
  border: 3px double #0d3d93;
}

div.appl2 a:hover {
  border: 3px double #d58000;
}

div.wrap2 div {
  width: 27%;
  margin-right: 6%;
}

.is, .islock, .lock, .out, .mu, .pdf, .doc, .xls, .ps {
  display: inline-block;
}
