/*
 * IE7 Styl FI MUNI
 * Autor: Jan Rezac - Filosof
 *
 */

div.col2 ul, div.mmp, div#sl {
  zoom: 1;
}

div.img span {
  width: 88%;
}

div#innerText div.img {
  padding-top: 10px;
  background-position: 0 10px;
}

div.appl2 a, div.appl2 a:link, div.appl2 a:visited {
  border: 3px double #0d3d93;
}

div.appl2 a:hover {
  border: 3px double #d58000;
}

.is, .islock, .lock, .out, .mu, .pdf, .doc, .xls, .ps {
  display: inline-block;
}

input.ss {
  position: relative;
  top: 1px;
}

div#sl {
	width: 245px;
}
div#innerSearch input.txt {
	margin-top: 1px;
}
input.txt {
	width: 150px;
	height: 17px;
}