/*
 * Styl pro slabozrake FI MUNI
 * Autor: Jan Rezac - Filosof
 *
 */

a, a:link, a:visited {
  text-decoration: underline;
  cursor: pointer;
  color: #000;
}

#content a:link:after, #content a:visited:after {
  content: " (" attr(href) ") ";
  font-size: 90%;
  color: #777;
}

/*========== [layout] ========================================================*/
input, table, th, td {
  font-family: Arial, sans-serif;
  text-align: left;
}

body {
  text-align: left;
  font-family: Arial, sans-serif;
  background: #fffbf6;
  color: #444;
  line-height: 1.6;
}

div#main {
  font-size: 0.77em;
}

table {
  line-height: 1.6;
}

div#altNav,
a.glasses,
a.default,
ul#mm,
div#sl,
div#footer,
div.appl,
div.nav1,
div.cont,
div.noPrint,
div#logo a,
div.adv,
div.contact,
div.img,
div.photos,
div.appl2,
div.search,
#nav,
.subHeader {
  display: none;
}

#home div.contact {
  display: block;
}

div.hr hr {
  display: none;
}

div.hr {
  height: 1px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
  margin-top: 0.3em;
  clear: both;
}

ul li {
  padding-left: 10px;
}

table {
  width: 100%;
  margin-bottom: 1em;
}

td, th {
  padding-right: 1em;
  vertical-align: top;
}

h5, h6 {
  font-weight: bold;
  font-size: 1em;
  margin: 0 0 5px 0;
  padding: 0;
}

div.img2 {
  float: left;
  margin: 4px 10px 10px 0;
}

div.rimg {
  float: right;
  margin: 4px 0 10px 10px;  
}

div.clr {
  width: 100%;
  clear: both;
}

dd {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0.5em;
}
