/*
 * Zakladni Styl FI MUNI
 * Autor: Jan Rezac - Filosof
 *
 */

@import url("initial.css");

.mobileOnly {display: none;}
.enableResponsiveLink { display: none;}

.codeHelper {
  display: none;
  /*display: block;*/
  width: 100%;
  height: 2000px;
  background: url(../images/new/tmp/design-homepage.png) 50% 0 no-repeat;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0.5;
}

a, a:link {
  text-decoration: underline;
  cursor: pointer;
  color: #0d3d93;
}

a:visited {
  color: #1b396f;
}

a:hover, a:focus, a:active {
  color: #000;
  text-decoration: none;
}

/*========== [layout] ========================================================*/
body {
  text-align: center;
  font-family: Arial, sans-serif;
  background: #f7f0be url(../images/new/bg/body.png) 0 0 repeat-x;
  color: #444;
  line-height: 1.6;
}

table {
  line-height: 1.6;
}

div#mWrap {
  width: 100%;
  background: url(../images/new/bg/footer.png) 0 100% repeat-x;
}

div#main {
  text-align: left;
  margin: 0 auto;
  position: relative;

  /*width: 100%;
  max-width: 960px;
  min-width: 770px;*/
  font-size: 14px;
  width: 960px;
}

div#main2 {
  margin: 0 0 0 0;
}

/*========== [header] ========================================================*/
div#header {
  height: 110px;
  position: relative;
  background-position: 411px 100%;
  background-repeat: no-repeat;
  z-index: 1000;
}
div#header #fimunilogo {
  display: block;
  width: 166px;
  height: 167px;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -83px;
  z-index: 1000000;
}


div#logo, div#logo span {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 333px;
  height: 61px;
}

div#logo {
  top: 30px;
  left: 29px;
}


div#logo h1 { display: none; }
div#logo a { color: #FCFCFC; }
div#logo span {background: url(../images/new/logo-fi-text.png) 0 0 no-repeat;}

div#altNav a {
  position: absolute;
  left: -9999px;
}

div#altNav a:active, div#altNav a:focus {
  left: 366px;
  padding: 0.2em 1em 0.4em;
  border: 1px solid #0d3d93;
  top: 38px;
  font-weight: bold;
  font-size: 1.2em;
  display: block;
  color: #0d3d93;
}

#home div#altNav a:active, #home div#altNav a:focus {
  /*top: 20px;
  left: 179px;*/
}

/* cilovky */
div.nav1 {
  padding: 9px 0 10px 0;
  position: relative;
  background: #1f1a17;
  color: #fff;
  margin-bottom: 11px;
}
div.nav1:before {
  content: "";
  display: block;
  width: 100%;
  height: 11px;
  background: #f5dd35;
  position: absolute;
  top: 100%;
  left: 0;
}


div.info, div.bread {
  float: left;
  padding-left: 30px;
  margin-right: 13em;
}

div.info a {
  font-weight: bold;
  margin: 0 4px;
}

div.info i {
  color: #fed390;
  font-style: normal;
}

/* drobecky */
div.bread a, div.bread a:link, div.bread a:visited {
  color: #fff;
  background: url(../images/new/ico/bread.png) 100% 6px no-repeat;
  padding-right: 13px;
  margin-right: 5px;
}

div.bread a:hover {
  color: #f2d402;
}

div.bread span {
  display: none;
}

div.bread span.fbr {
  margin-right: 4px;
  display: inline;
  color: #f2d402;
}
div.bread p strong {
  font-weight: normal;
}

div.appl {
  position: absolute;
  top: 9px;
  right: 0;
}

div.appl a, div.appl a:link, div.appl a:visited {
  color: #fff;
  background: url(../images/new/ico/bread.png) 0 6px no-repeat;
  padding-left: 16px;
  margin-right: 30px;
}

div.appl a:hover {
  color: #f2d402;
}

div#sl {
  position: absolute;
  top: 44px;
  right: 29px;
  /*width: 337px;*/
  padding-bottom: 7px;
  z-index: 2000;
}

div#search {
  /*
  margin-left: 66px;
  border-top: 0 none;
  font-size: 0.89em;
  position: relative;
  top: -1px;
  */
}

input.ss {
  padding: 5px 6px 7px 6px;
  cursor: pointer;
  width: 81px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 32px;

  border: 1px solid #c7c7c7;
  -moz-box-shadow: 0 0 2px rgba(0,0,0,.14), inset 0 2px 0 rgba(255,255,255,.59);
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,.14), inset 0 2px 0 rgba(255,255,255,.59);
  box-shadow: 0 0 2px rgba(0,0,0,.14), inset 0 2px 0 rgba(255,255,255,.59);
  background: #f9f9f9 url(../images/new/bg/input-ss.png) 0 0 repeat-x;
  background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.05) 0.5%, rgba(255,255,255,.05) 99.5%);
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,.05) 0.5%, rgba(255,255,255,.05) 99.5%);
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.05) 0.5%, rgba(255,255,255,.05) 99.5%);
  background-image: linear-gradient(bottom, rgba(0,0,0,.05) 0.5%, rgba(255,255,255,.05) 99.5%);

}

input.ss:hover, input.ss:focus {
  background: #ffffff url(../images/new/bg/input-ss-hover.png) 0 0 repeat-x;
  background-image: -moz-linear-gradient(bottom, rgba(255,255,255,.05) 0.5%, rgba(0,0,0,.05) 99.5%);
  background-image: -o-linear-gradient(bottom, rgba(255,255,255,.05) 0.5%, rgba(0,0,0,.05) 99.5%);
  background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,.05) 0.5%, rgba(0,0,0,.05) 99.5%);
  background-image: linear-gradient(bottom, rgba(255,255,255,.05) 0.5%, rgba(0,0,0,.05) 99.5%);
}

div.search input.ss {
  width: auto;
}

input.txt {
  width: 161px;
  border: 1px solid #f1efeb;
  padding: 6px 2px 8px 2px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 32px;

  border: 1px solid #c7c7c7;
  -moz-box-shadow: 0 0 2px rgba(0,0,0,.14), inset 0 2px 0 rgba(255,255,255,.59);
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,.14), inset 0 2px 0 rgba(255,255,255,.59);
  box-shadow: 0 0 2px rgba(0,0,0,.14), inset 0 2px 0 rgba(255,255,255,.59);
}

div.search input.txt {
  width: 340px;
}

input.txt:focus, div.search input.txt:focus {
  border: 1px solid #f2d402;
  outline-color: #f2d402;
}

div#innerSearch {
}

div#innerSearch input.txt {
  float: left;
  margin-right: 3px;
}
div#innerSearch input.ss {
  float: right;
}

div#isLinks  {
  position: absolute;
  top: -24px;
  /*left: 0;*/
  right: 90px;
}
  div#isLinks .ismuniLink {
    display: inline-block;
    margin-right: 10px;
  }
div#lang  {
  position: absolute;
  top: -24px;
  right: 0;
}
  div#lang .flag {
    display: inline-block;
    width: 17px;
    height: 12px;
    margin-right: 8px;
    position: relative;
    bottom: -1px;
  }
  div#lang #cz .flag {
    background: url(../images/new/ico/czFlag.png) 0 0 no-repeat;
  }
  div#lang #en .flag {
    background: url(../images/new/ico/gbFlag.png) 0 0 no-repeat;
  }


.themeImage {
  margin-top: 10px;
  min-height: 46px;
}

  .themeImage img {
    max-width: 100%;
    min-height: 200px;
  }

  @media only screen and (max-height : 900px) {
    .themeImage {
      max-height: 100px;
      overflow: hidden;
    }
    .themeImage img {
      position: relative;
      top: -30px;
    }
}
.subHeader {
  margin-top: 10px;
  margin-bottom: 11px;
  background: #1f1a17 url(../images/new/bg/subHeader.png) 0 100% repeat-x;
  color: #fff;
  position: relative;
}
.subHeader:before {
  content: "";
  display: block;
  width: 100%;
  height: 11px;
  background: #f5dd35;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
}
  .subHeader .slidesPaginator {
    position: absolute;
    bottom: 32px;
    left: 30px;
    z-index: 100;
  }
  .subHeader .slidesPaginator .item {
    display: block;
    width: 20px;
    height: 20px;
    background: #1f1a17;
    border: 2px #fff solid;
    border-radius: 50%;
    margin-left: 5px;
    float: left;
  }
  .subHeader .slidesPaginator .item:first-child {
    margin-left: 0;
  }
  .subHeader .slidesPaginator .item.active {
    border-color: #f2d402;
  }
  .subHeader .slideList {

  }
  .subHeader .slidesList .slideItem {

  }
    .subHeader .slidesList .slideItem .column1 {
      width: 260px;
      float: right;

    }
      .subHeader .slidesList .slideItem .column1 .inner {
        padding: 25px 20px 25px 30px;
      }
      .subHeader .slidesList .slideItem .column1 a,
      .subHeader .slidesList .slideItem .column1 a:link,
      .subHeader .slidesList .slideItem .column1 a:visited {
        text-decoration: underline;
        color: #fff;
      }
      .subHeader .slidesList .slideItem .column1 a:hover,
      .subHeader .slidesList .slideItem .column1 a:visited:hover {
        text-decoration: none;
      }
      .subHeader .slidesList .slideItem .column1 .row1 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
        font-weight: bold;
      }
        .subHeader .slidesList a.slideItem .column1 .row1,
        .subHeader .slidesList a.slideItem:link .column1 .row1,
        .subHeader .slidesList a.slideItem:visited .column1 .row1 {
          color: #fff;
          text-decoration: underline;
        }
          .subHeader .slidesList a.slideItem:hover .column1 .row1,
          .subHeader .slidesList a.slideItem:visited:hover .column1 .row1 {
            text-decoration: none;
          }
        .subHeader .slidesList a.slideItem .column1 .row2,
        .subHeader .slidesList a.slideItem:link .column1 .row2,
        .subHeader .slidesList a.slideItem:visited .column1 .row2 {
          color: #fff;
        }
      .subHeader .slidesList .slideItem .column1 .row2 {
        font-size: 18px;
        line-height: 24px;
      }
    .subHeader .slidesList .slideItem .column2 {
      width: 700px;
      height: 300px;
      float: right;
    }
  }

/*========== [layout] ========================================================*/

/* ikonky */
.is {padding-right: 15px; background:  url(../images/new/ico/ico-out.png) 100% 2px no-repeat;}
.islock {padding-right: 15px;background:  url(../images/new/ico/ico-out.png) 100% 2px no-repeat;}
.lock {padding-right: 15px;background:  url(../images/new/ico/ico-out.png) 100% 2px no-repeat;}
.out {padding-right: 12px;background:  url(../images/new/ico/ico-out.png) 100% 3px no-repeat;}
.mu {padding-right: 16px;background:  url(../images/new/ico/ico-out.png) 100% 2px no-repeat;}

.pdf {padding-right: 17px;background:  url(../images/new/ico/downloadIco.png) 100% 2px no-repeat;}
.doc {padding-right: 17px;background:  url(../images/new/ico/downloadIco.png) 100% 2px no-repeat;}
.xls {padding-right: 17px;background:  url(../images/new/ico/downloadIco.png) 100% 2px no-repeat;}
.ps {padding-right: 12px;background:  url(../images/new/ico/downloadIco.png) 100% 2px no-repeat;}

div#text {
  float: right;
  width: 73%;
}

div#innerText {
  padding: 20px 30px 10px 21px;
}

div#nav {
  float: left;
  width: 27%;
  position: relative;
}
div#nav:before {
  display: block;
  content: "";
  width: 264px;
  height: 16px;
  box-shadow: inset 0 5px 8px #fff;
  position: absolute;
  top: 0;
  right: -5px;
}

div#wrapper {
  background:  #fff url(../images/new/bg/divWrapper.png) 0 0 repeat-y;
}

/*========== [text] ==========================================================*/
h1 {
  font-weight: bold;
  color: #000;
  font-size: 1.81em;
  margin-bottom: 8px;

  margin-top: 20px;
}
h1:first-child,
.hr + h1,
p + h1 {
  margin-top: 0;
}

h2 {
  font-weight: bold;
  color: #000;
  font-size: 24px;
  margin-bottom: 5px;
  line-height: 1.2;
  padding-bottom: 8px;

  margin-top: 20px;
}

h2:first-child,
.hr + h2,
p + h2 {
  margin-top: 0;
}

h2 a, h2 a:link, h2 a:visited {
  text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
}

h3 {
  font-weight: bold;
  color: #000;
  font-size: 1.3em;
  margin-bottom: 5px;
  line-height: 1.1;
  padding-bottom: 6px;
}

h4, div.txt2 h3 {
  font-weight: bold;
  color: #000;
  font-size: 1.1em;
  margin-bottom: 3px;
}

h5 {
  font-weight: bold;
  color: #000;
  font-size: 1em;
  margin-bottom: 3px;
  text-transform: uppercase;
}

h6 {
  font-weight: bold;
  color: #000;
  margin-bottom: 4px;
}

div.date {
  margin-bottom: 0.85em;
}

div.col2 h2 {
  margin-bottom: 1px;
}

p, ul, ol, table, dl, div.search {
  margin-bottom: 1em;
}

ul li {
  padding-left: 17px;
  margin-left: 10px;
  background:  url(../images/new/ico/liBullet.png) 0 7px no-repeat;
}
.lhalf ul li, .rhalf ul li {
  background: none;
  position: relative;
  padding-left: 20px;
}
.lhalf ul li:before, .rhalf ul li:before {
  display: block;
  content: "";
  width: 13px;
  height: 13px;
  background: url(../images/new/ico/circleArrow.png) 0 0 no-repeat;
  position: absolute;
  top: 5px;
  left: 0;
}

ol li {
  margin-left: 26px;
  padding-left: 1px;
}

dt {
  padding-left: 17px;
  margin-left: 10px;
  background:  url(../images/new/ico/liBullet.png) 0 7px no-repeat;
  font-weight: bold;
}

dt span {font-weight: normal;color: #777;}

dd {
  margin: 0 0 0.5em 27px;
}

div#text table {
  width: 100%;
  border-top: 1px solid #f2d402;
  margin-top: 5px;
}

div#text table.stab {
  border: 0;
}

div#text th {
  background: transparent;
  border: none;
  padding: 3px 5px 4px;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  color: #000;
  vertical-align: top;
}

div#text thead th, div#text table.time th {
  background: transparent;
  border: none;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  padding: 3px 5px 4px;
  color: #000;
}

div#text td {
  background: transparent;
  border: none;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  padding: 3px 5px 4px;
  vertical-align: top;
}

div#text table.stab th, div#text table.stab td {
  background: transparent;
  border: 0 none;
  padding: 0;
}

div#text tr.sr td {
  background: transparent;
}

div#text th.f, div#text td.f {
}

/* tri sloupce */
div.wrap1 {
  background: url(../images/new/ico/div1.png) 63% 0 repeat-y;
  margin-bottom: 1.8em;
}

div.wrap2 {
  background: url(../images/new/ico/div1.png) 30% 0 repeat-y;
}

div.wrap3 li {
  margin-left: 0;
}

div.wrap3 div.lhalf, div.wrap3 div.rhalf, div.wrap4 div.lhalf, div.wrap4 div.rhalf {
  width: 48%;
}

.withBorder  {
  background: url(../images/new/bg/section.png) 0 0 no-repeat;
  padding: 14px 0 0 20px;
}


div.wrap4 {
  margin-bottom: 2em;
}

div.wrap4 div.lhalf, div.wrap4 div.rhalf {
  background: #fef6ea url(../images/wrap3a.gif) 100% 100% no-repeat;
  border: 1px solid #f9d197;
}

div.wrap4 ul li {
  background: transparent;
  padding: 0;
  margin: 0;
}

div.wrap4 h2 {
  padding: 3px 12px 4px;
  border-bottom: 3px double #f9d197;
  background: #fdefda url(../images/wrap3b.gif) 0 0 repeat-x;
  margin-bottom: 8px;
}

div.wrap4 ul, div.wrap4 div.cont, div.pwrap {
  padding: 0 12px;
}

div.wrap4 div.cont {
  border-top: 1px solid #f9d197;
  padding-top: 0.7em;
}

div.wrap4 div.cont a {
  padding: 0;
  background: transparent;
}

div.mBot {margin-bottom: 2em;}
div.mBot2 {margin-bottom: 0.7em;}

div.wrap2 div {
  float: left;
  width: 28%;
  margin-right: 5%;
}

div.wrap2 ul li, div.nmrg ul li {
  margin: 0;
}

/* dva sloupce, 1 fixed */
div.col1 p, div.div2 p {

}
div.nav1 p {
  margin: 0;
}

div.uch div.col1 p {
  margin-bottom: 1em;
}

div.uch ul li {
  margin-left: 0;
}

div.col1 {
  float: left;
  width: 340px;
  position: relative;
}

div.div1 {
  margin-bottom: 10px;
}

div.colx {
  margin-top: 6px;
}

div.col2 {
  margin: 0 7px 0 382px;
}

div.col2 ul li, ul.button li {
  margin: 0;
  background: transparent;
  padding: 0;
}

div.col2 ul a, div.col2 ul a:link, div.col2 ul a:visited {
  display: block;
  border-bottom: 1px solid #dedede;
  padding: 6px 2px 7px;
}

div.col2 ul a:hover {
  background: #fefbe5;
}

div.col2 ul li.double {
  border-bottom: 1px solid #dedede;
  padding: 5px 2px 8px;
}

div.col2 ul li.double a, div.col2 ul li.double a:link, div.col2 ul li.double a:visited, div.col2 ul li.double a:hover {
  display: inline;
  border: 0 none;
  background: transparent;
  padding: 0;
  font-weight: bold;
}

a.rss, a.rss:link, a.rss:visited,
div.cont a.rss, div.cont a.rss:link, div.cont a.rss:visited,
div.col2 ul li.double a.rss, div.col2 ul li.double a.rss:link, div.col2 ul li.double a.rss:visited {
  color: #ea6701;
  padding-left: 20px;
  font-weight: normal;
  position: relative;
}
  a.rss:before,
  div.cont a.rss:before,
  div.col2 ul li.double a.rss:before {
    display: block;
    content: "";
    width: 12px;
    height: 12px;
    background: url(../images/new/ico/rss.png) 0 0 no-repeat;
    position: absolute;
    top: 2px;
    left: 0;
  }
    a.rss:hover:before,
    div.cont a.rss:hover:before,
    div.col2 ul li.double a.rss:hover:before {
      background: url(../images/new/ico/rss.png) 0 -12px no-repeat;
    }

div.col2 ul li.double a.rss, div.col2 ul li.double a.rss:link, div.col2 ul li.double a.rss:visited {
  margin: 0 6px 0 6px;
}

a.rss:hover, div.cont a.rss:hover, div.col2 ul li.double a.rss:hover {
  color: #000;
  background-position: -1000px 2px;
}

a.nu {text-decoration: none;}
a.nu span {text-decoration: underline;}

div.hr hr {
  display: none;
}

div.hr {
  padding-top: 0.4em;
  height: 1px;
  margin-bottom: 1.9em;
}

div.hr2 {margin-bottom: 1.2em;}
div.hr3 {padding-top: 0.8em;}
div.hr4 {margin-bottom: 1em;}

#home div.hr {
  padding: 0;
  border-bottom: 1px solid #ffd89d;
  margin-bottom: 1.2em;
}

div.cont {
  margin-top: 5px;
}

/* pokracovaci odkazy */
div.cont a {
  padding-left: 20px;
  position: relative;
}
  div.cont a:before {
    display: block;
    content: "";
    width: 13px;
    height: 13px;
    background: url(../images/new/ico/circleArrow.png) 0 0 no-repeat;
    position: absolute;
    top: 2px;
    left: 0;
  }
    div.cont a:hover:before {
      background: url(../images/new/ico/circleArrow.png) 0 -13px no-repeat;
    }


div.cont a:hover {
  background-position: -1000px 4px;
}

div.cont a.all, div.cont a.all:link, div.cont a.all:visited {
  padding: 0;
  font-weight: normal;
  background: transparent;
  color: #444;
}

div.cont a.all:hover {
  color: #0d3d93;
}

div.cont2 a {
  font-weight: normal;
}

h3 i, div.cont i {
  margin: 0 4px;
}

div.ad {
  padding: 7px 0 8px;
}

/* tlacitka */
ul.button {
  width: 100%;
  overflow: hidden;
  padding: 14px 0 14px 0;
}

ul.button li {
  float: left;
  margin-right: 3px;
}

ul.button a {
  display: block;
  background: #fff;
  border: 1px solid #ffdaa3;
  text-decoration: none;
  color: #000;
}

ul.button a span.f {
  display: block;
  background: #fef3e2;
  margin: 1px;
  padding: 2px 8px 3px;
}

ul.button a:hover span.f {
  background: #ffdaa3;
}

div#innerNav {
  padding: 16px 0;
}

/*fotogalerie na strance*/
div.photos {
  padding-bottom: 4px;
}

div.photos div {
  float: left;
  margin-right: 11px;
  width: 120px;
  margin-bottom: 11px;
}

div.photos a {
  display: block;
  padding: 1px;
  border: 1px solid #ffd89d;
  position: relative;
}

div.photos a i {
  width: 6px;
  height: 6px;
  display: block;
  position: absolute;
  right: 8px;
  bottom: 8px;
  background: url(../images/plus.gif) 0 0 no-repeat;
}

div.photos a:hover {
  border: 1px solid #ff9900;
}

div.photos a:hover i {
  background-position: -7px 0;
}

div.photos div.l, div.wrap1 div.l {
  margin-right: 0;
}

div.rimg {
  float: right;
  margin: 5px 0 11px 11px;
}

/* vyhledavani */
div.results p {
  margin: 0;
}

div.results div.cont {
  margin-bottom: 1em;
}

div.pager {
  border-top: 1px solid #dedede;
  padding-top: 0.9em;
  margin-bottom: 1em;
}

div.pager a, div.pager a:link, div.pager a:visited {
  margin: 0 4px;
  color: #444;
}

div.pager a:hover {
  color: #0d3d93;
}

div.pager strong {
  color: #000;
}

div.pager a.prev {
  padding-left: 12px;
  background: url(../images/dot6.gif) 0 -994px no-repeat;
}

div.pager a.prev:hover {
  background-position: 0 4px;
}

div.pager a.next {
  padding-right: 12px;
  background: url(../images/dot5.gif) 100% -994px no-repeat;
}

div.pager a.next:hover {
  background-position: 100% 4px;
}

/* mapa stranek */
ul#sitemap li a, ul#sitemap li a:link, ul#sitemap li a:visited {
  font-weight: bold;
  color: #000;
  font-size: 1.3em;
}

ul#sitemap li a:hover {
  color: #0d3d93;
}

ul#sitemap li {
  background: transparent;
  margin: 0;
  padding: 2px 0;
}

ul#sitemap li li {
  background:  url(../images/new/ico/liBullet.png) 0 7px no-repeat;
  padding: 0 0 0 17px;
  margin-left: 10px;
}

ul#sitemap li li a, ul#sitemap li li a:link, ul#sitemap li li a:visited {
  font-size: 1em;
  font-weight: bold;
  color: #0d3d93;
}

ul#sitemap li li a:hover {
  color: #000;
}

ul#sitemap li li li a, ul#sitemap li li li a:link {
  font-size: 1em;
  font-weight: normal;
  color: #444;
}

ul#sitemap li li li a:visited {
  color: #666;
  font-weight: normal;
}

ul#sitemap li li li a:hover {
  color: #0d3d93;
}

ul#sitemap ul {
  margin: 0;
}

/* obrazek */
div.img {
  width: 100%;
  height: 108px;
  margin-bottom: 1.2em;
  background-repeat: no-repeat;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}

div.img3 {
  margin-bottom: 1.2em;
}

div.adv {
  overflow: hidden;
}

div.adv div.img {
  height: 169px;
  margin: 0 9px 7px;
}

div.img span {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

div.lhalf {
  width: 49%;
  padding-bottom: 1.2em;
  float: left;
}

div.rhalf {
  width: 49%;
  padding-bottom: 1.2em;
  float: right;
}

div.np div.rhalf, div.np div.lhalf {
  padding: 0;
}

div.img2 {
  float: left;
  margin-top: 5px;
}

div.txt2 {
  margin-left: 112px;
}

div.txt2 h3 a, div.txt2 h3 a:link, div.txt2 h3 a:visited {
  color: #000;
  text-decoration: none;
}

div.txt2 h3 a:hover {
  color: #0d3d93;
}

div.txt2 p {
  margin-bottom: 0;
}

/* souvisejici info */
div.souv div.wrap2 div.hr {
  width: 100%;
  clear: both;
  margin-bottom: 1.2em;
}

div.souv h5 {
  text-transform: none;
}

div.souv p {
  font-size: 0.89em;
}

.error {
  background: #d43600;
  color: #fff;
  padding: 3px 14px 4px;
  border: 3px double #fff;
}

.error strong {
  margin-right: 6px;
}

/* prijimaci rizeni */
div.ptype {
  margin-bottom: 1em;
}

div.ptype p {
  margin-bottom: 4px;
}

div.ptype div.cont p {
  margin-bottom: 1em;
}

div.appl2 {
  margin-bottom: 1em;
  width: 100%;
  overflow: hidden;
}

div.col1 div.appl2 {
  margin-bottom: 8px;
}

div.appl3 {
  margin-bottom: 1.2em;
}

div.appl2 a, div.appl2 a:link, div.appl2 a:visited {
  background: #0d3d93;
  border: 3px double #fff;
  color: #fff;
  font-weight: bold;
  display: block;
  text-decoration: none;
  text-align: center;
  float: left;
  width: auto;
  padding: 3px 16px 4px;
}

div.appl2 a:hover {
  background: #d58000;
}

ul.news {
  color: #777;
}

ul.news strong {
  color: #444;
  margin-right: 4px;
}

div.law h2 {
}

div.long h2 {
}

/*========== [menu] ==========================================================*/
ul#mm {
  margin: 0 0 30px;
}

ul#mm ul {
  margin: 0;
}

ul#mm li {
  margin: 0;
  padding: 0;
  background-image: none;
  background: transparent;
}
ul#mm li:before {
  display: none;
}

ul#mm a, ul#mm a:link, ul#mm a:visited {
  display: block;
  padding: 6px 0 7px 30px;
  color: #0d3d93;
  text-decoration: none;
  border-top: 1px solid #dedede;
}
ul#mm >li:last-child a {
  border-bottom: 1px solid #dedede;
}

ul#mm ul a, ul#mm ul a:link, ul#mm ul a:visited {
  padding: 5px 0 8px 16px;
  color: #0d3d93;
  text-decoration: none;
}

ul#mm ul ul a, ul#mm ul ul a:link, ul#mm ul ul a:visited {
  padding: 2px 0 3px 24px;
  color: #0d3d93;
  text-decoration: none;
  background: transparent;
  font-size: 0.89em;
}

ul#mm ul ul a:hover {
  background: #fffbf6;
}

ul#mm a:hover, ul#mm a:visited:hover, ul#mm ul a:hover, ul#mm ul a:visited:hover {
  color: #000;
  background: #fffbe1;
}

ul#mm a.active, ul#mm a.active:link, ul#mm a.active:visited, ul#mm a.active:hover {
  font-weight: bold;
  color: #000;
  text-decoration: none;
  position: relative;
  background: #fff;
}
  ul#mm a.active + ul {
    position: relative;
    background: #fff;
  }
  ul#mm a.active + ul:after {
    display: block;
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -1px;
    background: #fff;
  }

ul#mm a.active:after {
  display: block;
  width: 1px;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  right: -1px;
  background: #fff;
}

ul#mm li > ul {
  padding-bottom: 10px;
}
  ul#mm ul a, ul#mm ul a:link, ul#mm ul a:visited {
    border: none;
    padding: 0px 0 0px 42px;
    display: block;
  }
  ul#mm ul a.active, ul#mm ul a.active:link, ul#mm ul a.active:hover, ul#mm ul a.active:visited {
    font-weight: normal;
  }
  ul#mm ul a.active:before {
    display: block;
    content: "";
    width: 4px;
    height: 7px;
    background: url(../images/new/ico/menuActive.png) 0 0 no-repeat;
    position: absolute;
    left: 32px;
    top: 7px;
  }

ul#mm ul ul {
}
  ul#mm ul ul a, ul#mm ul ul a:link, ul#mm ul ul a:visited {
    border: none;
    padding: 0px 0 0px 55px
  }
  ul#mm ul ul a.active:before {
      display: block;
      content: "";
      width: 4px;
      height: 7px;
      background: url(../images/new/ico/menuActive.png) 0 0 no-repeat;
      position: absolute;
      left: 44px;
      top: 7px;
    }

ul#mm ul ul a.active, ul#mm ul ul a.active:link, ul#mm ul ul a.active:visited, ul#mm ul ul a.active:hover {
  background: transparent;
}

ul#mm a.exp, ul#mm a.exp:link, ul#mm a.exp:visited, ul#mm a.exp:hover,
ul#mm ul a.exp, ul#mm ul a.exp:link, ul#mm ul a.exp:visited, ul#mm ul a.exp:hover {
}

#innerNav div.adv {
  padding-left: 30px;
  margin-right: 30px;
}
#innerNav div.contact {
  padding-left: 30px;
  margin-right: 30px;
}
#innerNav div.adv h2,
#innerNav div.contact h2 {
  font-size: 14px;
  padding: 0 10px 0 0;
  margin: 0 0 20px 0;
  position: relative;
}
#innerNav div.adv h2:after,
#innerNav div.contact h2:after {
  display: block;
  content: "";
  width: 100%;
  height: 5px;
  background: url(../images/new/bg/section.png) -10px 0 no-repeat;
  position: absolute;
  bottom: -5px;
  left: 0;
}

#innerNav div.contact .mmp0 {
}
#innerNav div.contact .mmp0 a {
  display: block;
}

div.adv h2, div.adv p, div.adv div {
  padding: 0 0 0 0;
}

div.adv p {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 5px;
}

div.adv {
  padding-bottom: 21px;
  margin-bottom: 16px;
}

div.mapa {
  position: absolute;
  right: 9px;
  top: 1.4em;
}

/* kontakt */
div.contact h2, div.mmp {
  padding: 0 0;
}
#innerNav div.contact div.mmp.vchod {
  padding-top: 10px;
}
  #innerNav div.contact div.mmp.vchod h2 {
    margin-bottom: 5px;
    border: none;
  }
  #innerNav div.contact div.mmp.vchod h2:after {
    display: none;
  }

div.mmp {
  margin-bottom: 0.7em;
}

div.mmp table, div.contact p {
  margin-bottom: 0.7em;
}
div.mmp table {
  width: 100%
}
div.mmp img.vchod {
  border: 4px solid #f2d402;
}

div.mmp2 {
  border: 0 none;
}

div.contact td, div.contact th {
  padding: 0;
}
div.contact th {
  padding-right: 20px;
  color: #777777;
}

div.contact th {
  font-weight: normal;
  width: 52px;
}

div.contact i, div#footer i, i.tube {
  color: #c7c7c7;
  font-style: normal;
  margin: 0 4px;
}

/*========== [footer] ========================================================*/
div#footer {
  padding-top: 60px;
  padding-bottom: 120px;
  font-size: 12px;
  position: relative;
}


div#footer .muniLogo {
  display: block;
  width: 172px;
  height: 173px;
  border-radius: 50%;
  background: url(../images/new/bg/footerLogo.png) 50% 50% no-repeat;
  position: absolute;
  top: 38px;
  left: 50%;
  margin-left: -82px;
  z-index: 10;
}
div#footer .muniLogo img {
  margin: 0 auto;
  position: relative;
  top: 27px;
}
div#footer .socialButtons a {
  margin-left: 5px;
}


div.f0 {
  display: none;
  padding: 10px 0 20px 0;
  text-align: center;
}
  div.f0 a {
    display: block;
    margin: 5px 0 3px 0;
  }
  div#footer div.f0 a, div#footer div.f0 a:link, div#footer div.f0 a:visited  {
    color: #0d3d93;
  }

div.f1 {
  float: left;
  padding-top: 13px;
}

div.f2 {
  float: right;
}

div#footer a, div#footer a:link, div#footer a:visited {
  color: #444;
}

div#footer a:hover {
  color: #0d3d93;
}

a.glasses:hover {
  background-position: -1000px 6px;
}

a.default {display: none;}

div#up {
  display: none;  /* todo zcela odstranit */
  position: absolute;
  bottom: 0;
  left: 66%;
  width: 44px;
  height: 30px;
  overflow: hidden;
}

div#up span {
  display: block;
  width: 44px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/up.gif) 0 0 no-repeat;
}

div#up a:hover span {
  background-position: 0 -31px;
}





/*========== [ikonky] ========================================================*/
i.rss {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("../images/new/ico/rss.png") 0 0 no-repeat;
}
i.circleArrow {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url("../images/new/ico/circleArrow.png") 0 0 no-repeat;
}

.socialButtons {
}
  .socialButtons a {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url(../images/new/ico/socialButtons.png);
    background-repeat: no-repeat;
    overflow: hidden;
  }
     .socialButtons a span {
      display: none;
     }
  .socialButtons a.twitter {
    background-position: 0 0;
  }
    .socialButtons a.twitter:hover, .socialButtons a.twitter:focus {
      background-position: 0 -48px;
    }
  .socialButtons a.facebook {
    background-position: -48px 0;
  }
    .socialButtons a.facebook:hover, .socialButtons a.facebook:focus {
      background-position: -48px -48px;
    }
  .socialButtons a.googleplus {
    background-position: -96px 0;
  }
    .socialButtons a.googleplus:hover, .socialButtons a.googleplus:focus {
      background-position: -96px -48px;
    }
  .socialButtons a.pinterest {
    background-position: -144px 0;
  }
    .socialButtons a.pinterest:hover, .socialButtons a.pinterest:focus {
      background-position: -144px -48px;
    }





/*========== [HP] ========================================================*/

.HPSection {
  margin-bottom: 22px;
}
  .HPSection .header {
  }
    .HPSection .header h2 {
      margin: 0;
    }

.HPLinks {
}
  .HPLinks .header h2 {
    max-width: 340px;
    float: left;
  }
  .HPLinks .header .tabs {
    width: 250px;
    float: right;
    text-align: right;
    margin: 0 60px -1px 0;
    position: relative;
    bottom: -6px;
  }
    .HPLinks .header .tabs a {
      display: inline-block;
      font-size: 14px;
      line-height: 22px;
      border: 1px solid #ddd;
      -moz-box-shadow: inset 0 2px 0 rgba(255,255,255,.59);
      -webkit-box-shadow: inset 0 2px 0 rgba(255,255,255,.59);
      box-shadow: inset 0 2px 0 rgba(255,255,255,.59);
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSI5OS41JSIgeDI9IjUwJSIgeTI9IjAuNDk5OTk5OTk5OTk5OTklIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjA1Ii8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjA1Ii8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
      background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.05) 0.5%, rgba(255,255,255,.05) 99.5%);
      background-image: -o-linear-gradient(bottom, rgba(0,0,0,.05) 0.5%, rgba(255,255,255,.05) 99.5%);
      background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.05) 0.5%, rgba(255,255,255,.05) 99.5%);
      background-image: linear-gradient(bottom, rgba(0,0,0,.05) 0.5%, rgba(255,255,255,.05) 99.5%);
      color: #1f1a17;
      text-decoration: none;
      border-bottom-color: #f4f4f4;
      padding: 3px 10px 4px 10px;
    }
      .HPLinks .header .tabs a:hover, .HPLinks .header .tabs a:visited:hover, .HPLinks .header .tabs a:focus {
        background: #ffffff url(../images/new/bg/input-ss-hover.png) 0 0 repeat-x;
        background-image: -moz-linear-gradient(bottom, rgba(255,255,255,.05) 0.5%, rgba(0,0,0,.05) 99.5%);
        background-image: -o-linear-gradient(bottom, rgba(255,255,255,.05) 0.5%, rgba(0,0,0,.05) 99.5%);
        background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,.05) 0.5%, rgba(0,0,0,.05) 99.5%);
        background-image: linear-gradient(bottom, rgba(255,255,255,.05) 0.5%, rgba(0,0,0,.05) 99.5%);
      }
  .HPLinks .columns {
  }
    .HPLinks .columns a {
      display: block;
    }
    .HPLinks .columns .column1 {
      width: 160px;
      float: left;
      margin-right: 55px;
    }
    .HPLinks .columns .column2 {
      width: 185px;
      float: left;
      margin-right: 50px;
    }
    .HPLinks .columns .column3 {
      width: 140px;
      float: left;
    }

.HPNews {
}
  div#text .HPNews table {
    border: none;
    margin: 0 0 20px 0;
  }
    div#text .HPNews table th {
      width: 100px;
      border: none;
      background: transparent;
      color: #333333;
      font-weight: normal;
      text-align: right;
      padding-top: 0;
      padding-bottom: 0;
    }
    div#text .HPNews table td {
      border: none;
      padding-top: 0;
      padding-bottom: 0;
    }

    .HPNews .bottom {
      padding: 0 0 0 115px;
    }
      .HPNews .bottom .column1 {
        width: 290px;
        margin-right: 20px;
        float: left;
      }
      .HPNews .bottom .column2 {
        width: 200px;
        float: left;
        text-align: right;
      }

  .HPBottomSection {
  }
    .HPBottomSection .columns {
      margin: 0 0 20px 0
    }
      .HPBottomSection .columns .column1 {
        width: 280px;
        float: left;
      }
      .HPBottomSection .columns .column2 {
        width: 340px;
        float: right;
      }
        .HPBottomSection .columns .column2 .slidesList {
          width: 340px;
          height: 340px;
          overflow: visible !important;
          position: relative;
        }
          .HPBottomSection .columns .column2 .slidesList .slideItem {
            width: 340px;
            height: 340px;
            display: block;
          }
            .HPBottomSection .columns .column2 .slidesList .slideItem a {
              display: block;
            }
            .HPBottomSection .columns .column2 .slidesPaginator {
              text-align: center;
              padding: 10px 0 0 0;
              text-align: center;
              padding: 10px 0 0 0;
              z-index: 100;
              position: absolute;
              bottom: -40px;
              width: 100%;
            }
              .HPBottomSection .columns .column2 .slidesPaginator .item {
                display: inline-block;
                width: 10px;
                height: 10px;
                border: 2px solid #fff;
                border-radius: 50%; /* TODO */
                background: #1f1a17;
                margin-right: 4px;
              }
                .HPBottomSection .columns .column2 .slidesPaginator .item.active {
                  border-color: #f2d402;
                  background:  #fff;
                }




  .HPSection  a.rssLink {
    color: #ea6701;
  }
    .HPSection  a.rssLink:hover, .HPSection  a.rssLink:focus, .HPSection  a.rssLink:active {
      color: #000;
    }
      .HPSection  a.rssLink i.rss, .HPSection  a.rssLink i.rss, .HPSection  a.rssLink i.rss {
        margin-right: 10px;
        position: relative;
        bottom: -1px;
      }
      .HPSection  a.rssLink:hover i.rss, .HPSection  a.rssLink:focus i.rss, .HPSection  a.rssLink:active i.rss {
        background-position: 0 -12px;
      }
    .HPSection  a.moreLink {
    }
        .HPSection  a.moreLink i.circleArrow, .HPSection  a.moreLink i.circleArrow, .HPSection  a.moreLink i.circleArrow {
          margin-left: 10px;
          position: relative;
          bottom: -2px;
        }
        .HPSection  a.moreLink:hover i.circleArrow, .HPSection  a.moreLink:focus i.circleArrow, .HPSection  a.moreLink:active i.circleArrow {
          background-position: 0 -13px;
        }

